{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="\static\sns\topicon.png">
    <link rel="stylesheet" type="text/css"
        href="{% static 'sns/style.css' %}" />
    <title>Signup</title>
 
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" method="post">{% csrf_token %}

    <img class="mb-4" src="\static\sns\createicon.png" width="120" height="120">
              
    {# エラーメッセージを表示 #}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
         {% endfor %}
    {% endif %}
            
      <h2 class="h3 mb-3 font-weight-normal">Create User</h2>
      <p><font size="2">パスワードは8文字以上で設定してください</font></p>
            <!-- ユーザ名 -->
            <div class="form-group row">
                <label for="name" class="col-md-3 col-form-label" >
                    <font size="2">ユーザ名</font> <span class="attention">[必須]</span>
                </label>
                <div class="col-md-9">
                    {% csrf_token %}
                    {{ form.username }}
                </div>
            </div>
            <!-- /ユーザ名 -->

            <!-- パスワード -->
            <div class="form-group row">
                <label for="password" class="col-md-3 col-form-label">
                    <font size="2">パスワード</font> <span class="attention">[必須]</span>
                </label>
                <div class="col-md-9">
                    {% csrf_token %}
                    {{ form.password1 }}
                </div>
            </div>
            <!-- /パスワード -->
 
            <!-- パスワード確認 -->
            <div class="form-group row">
                <label for="password2" class="col-md-3 col-form-label">
                    <font size="2">パスワードの確認</font> <span class="attention">[必須]</span>
                </label>
                <div class="col-md-9">
                    {% csrf_token %}
                    {{ form.password2 }}
                </div>
            </div>
            

            <!-- 確認ボタン -->
            <div class="form-group row justify-content-end">
                <div class="col-md-9">
                    <button type="submit" class="btn btn-primary">登録する</button>
                </div>
            </div>
            
    </form>
  </body>
</html>


